<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.centerprimesampleethsdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CenterPrime Ethereum Wallet Sample"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".create_wallet.CreateWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".import_wallet_from_keystore.ImportWalletFromKeyStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".check_balance.CheckBalanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".export_keystore.ExportKeyStoreActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".import_by_private_key.ImportByPrivateKeyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".export_private_key.ExportPrivateKeyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".send_eth.SendEthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".erc_token_balance.CheckERCTokenBalanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".send_erc_token.SendERCTokenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
